*{
    display:inline-flexbox;
}
body{
    background-color: rgba(14, 249, 14, 0.4);
    background-repeat: no-repeat;
    opacity: 1;
    width:500px;
    height:554px;
    background-size:100% 100%;
}
header{
    background-color: rgb(26, 128, 0);
    border-color: green;
    border-radius: 18px;
   padding-left: 6px;
   margin-left:50% ;
   margin-right:-100% ;
    text-align: center;
    
}

.perguntas{
    border: 1px solid;
    margin-left: 2%;
    margin-right: 60%;
    background-color: rgba(0, 100, 0, 0.495);
    border-radius: 5px;
    text-align: center;

}
#plataforma{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#mensalidade{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}
#bot{
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
#image{
    border: 1px solid;
    width: 350px;
    height: 250px;
    margin-top:-80% ;
    margin-left: 90%;
}